.normal_enter {
    transform: translateX(20px);
    opacity: 0;
}

.normal_leave-to {
    transform: translateX(-20px);
    opacity: 0;
}

.normal_enter-active {
    transition: all .24s .24s;
}

.normal_leave-active {
    transition: all .24s;
}

.pre_normal_enter {
    transform: translateX(-20px);
    opacity: 0;
}

.pre_normal_leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.pre_normal_enter-active {
    transition: all .24s .24s;
}

.pre_normal_leave-active {
    transition: all .24s;
}

.special_enter {
    opacity: 0;
}

.special_enter-active {
    animation: bounce-in .5s linear .7s;
    transition: opacity .24s .7s;
}

.special_leave-to {
    opacity: 0;
}

.special_leave-active {
    animation: bounce-in .5s linear reverse forwards;
    transition: opacity .24s .5s;
}

.pre_special_enter {
    opacity: 0;
}

.pre_special_leave-to {
    transform: scale(0);
}

.pre_special_enter-active {
    animation: bounce-in .5s linear .5s;
    transition: opacity .24s .5s;
}

.pre_special_leave-active {
    animation: bounce-in .5s linear reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}